.chats .chats_list {
    border-top: 1px solid #cecccc;
}

.chats_list .chats_chat {
    padding: 15px;
    border-bottom: 1px solid #cecccc;
}

.chats_chat .chat_content img {
    width: 50px;
    border-radius: 40%;
    margin-right: 15px;
}

.chats_list .chats_chat a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.chats_chat .chat_content {
    display: flex;
    align-items: flex-start;
}

.chat_preview .chat_user {
    font-weight: 600;
    margin-bottom: 7px;
}


.chat_preview .chat_last-message {
    color: #8E8E93;
    font-size: 14px;
}

.chats_chat .chat_date-time {
    font-size: 11px;
    color: #cecccc;
}

.chat-btn {
    width: 60px;
    height: 60px;
    background-color: #F4D900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 80px;
    font-size: 20px;
    color: #3A1D1F;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: color .3s, background .3s, transform .5s ease-in-out;
}

.chat-btn:hover {
    color: white;
    background: #3A1D1F;
    transform: rotateY(360deg);
}