.more {
    background-color: #F2F2F2;
}

.more .more_header {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.more_header i {
    color: #533738;
}

.more_header .header_column {
    display: flex;
    align-items: center;    
}

.header_column img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 15px;
}

.header_column .more-header_title {
    font-weight: 600;
    margin-bottom: 5px;
}

.header_column .more-header_subtitle {
    font-size: 12px;
    color: #8E8E93;
}

.more .more_options {
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.more_options .more_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    color: #533738;
}

.more_option .more_option-title {
    margin-top: 10px;
    font-size: 12px;
}

.more_plus-friends {
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
}

.more_plus-friends .plus-friends_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.plus-friends_header .plus-friends_learn-more {
    color: #cecccc;
}

.plus-friends_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plus-friends_items .plus-friends_item {
    width: 50%;
    margin-bottom: 30px;
}

.plus-friends_item i{
    margin-right: 15px;
} 

.plus-friends_item .plus-friends_title {
    font-size: 13px;
}

.more .more_links {
    display: flex;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.more_links .more_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.more_link .more_link-image {
    height: 45px;
    margin-bottom: 10px;
}

.more_link .more_link-title {
    text-align: center;
    width: 50px;
    font-size: 13px;
}